html {
  box-sizing: border-box;
  font-family: sans-serif; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #296f29;
  padding: 0 10px; }

button.deal {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.2rem;
  color: #FFF;
  background: #991f25;
  border-top: 3px solid #bb2b32;
  border-left: 3px solid #bb2b32;
  border-right: 3px solid #7e1a1f;
  border-bottom: 3px solid #7e1a1f;
  border-radius: 50px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  cursor: pointer; }
  button.deal:hover {
    background: #ba151e;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1); }
  button.deal.go {
    background: #055daf;
    border-top: 3px solid #2069ae;
    border-left: 3px solid #2069ae;
    border-right: 3px solid #0b447b;
    border-bottom: 3px solid #0b447b; }
    button.deal.go:hover {
      background: #1f7299; }

.last-score {
  position: absolute;
  color: #FFF;
  opacity: 0;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 2; }
  .last-score.animate {
    animation: 2s ease-out appearandslideup 1; }

.score {
  position: absolute;
  display: block;
  color: #FFF;
  top: 15%;
  width: 200px;
  text-align: center; }
  .score::before {
    content: "Score";
    position: absolute;
    display: block;
    top: -40px;
    left: 0;
    width: 200px;
    text-decoration: underline; }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  max-width: 210px;
  max-height: 40vh;
  border-radius: 1vh;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  cursor: pointer; }
  .card:hover {
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3); }
  .card.to-discard {
    margin-bottom: 100px;
    opacity: 0.3;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5) inset; }
  .card.disabled {
    opacity: 0.7;
    cursor: default; }
    .card.disabled:hover {
      margin-bottom: 0;
      box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4); }
  .card img {
    width: 100%;
    height: auto; }

@keyframes appearandslideup {
  0% {
    opacity: 0;
    top: 30%;
    font-size: 1rem; }
  25% {
    opacity: 1;
    top: 25%;
    font-size: 5rem; }
  100% {
    opacity: 0;
    top: 10%;
    font-size: 1rem; } }
